# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Environment files
.env
.env.local
.env.production
.env.development
.env.test
.env.staging
.env.production.local
.env.development.local
.env.test.local
.env.staging.local

# @nuxtjs/pwa
sw.*

# OS Files
.DS_Store
migration_progress.md
migration_plan.md
migration_audit.md
.vercel
